body {
    font-size: 20px;
    padding: 8px;
}

button.def_button {
    font-size: 16px;
}

h1.title {
    text-align: center;
    font-size: 35px;
}

div.pad {
    padding: 0 5%;
}

table.doctor_table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th.doctor_th {
    font-weight: bold;
    padding: 8px;
    text-align: center;
    background: #efefef;
    border: 1px solid black;
}

td.doctor_td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

fieldset.fs {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input.user-label {
    display: block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 200px;
}

input.time {
    display: block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

select.label {
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
}

select {
    width: 350px;
}

p.mg_left {
    margin-left: 42px;
}